.brand{
    position: relative;
    color: white;
}

#nav-dropdown{
    color: white;
   
    
}

.mx-auto{
    width: 200px;
    /* text-align: center; */
    padding-right: 10px !important;
}

.navbar{
    background-color: rgb(40, 203, 40);
    font-size: 24px;
    line-height: 25px;
    width: 100vw;
}

.drop{
    color:white;
}


 a.title:link, a.title:visited{
    text-decoration: none;
    color:white;
}

a.active{
    text-decoration: none;
    color:white;
}