.brand{
    position: relative;
    color: white;
}

#nav-dropdown{
    color: white;
   
    
}

.mx-auto{
    width: 200px;
    /* text-align: center; */
    padding-right: 10px !important;
}

.navbar{
    background-color: rgb(40, 203, 40);
    font-size: 24px;
    line-height: 25px;
    width: inherit;
    height: 80px;
}

.drop{
    color:white;
}


 a.title:link, a.title:visited{
    text-decoration: none;
    color:white;
}

a.active{
    text-decoration: none;
    color:white;
}

#nav-title{
    font-size: 42px;
}

@media(max-width: 420px){
    #nav-title{
        font-size: 24px;
    }
    
}